        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/front/home" style="font-family: 'Raleway', sans-serif;">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/front/settings" style="font-family: 'Raleway', sans-serif;">Settings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/front/statistics" style="font-family: 'Raleway', sans-serif;">Statistics</a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </nav>